{% extends 'base.html.twig' %}

{% block title %}Détails de l'avis {{review.title}}{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid px-4">
		<h1 class="mt-4">Avis sur la pilule {{ review.pill.name }}</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_home') }}">Dashboard</a>
			</li>
             <li class="breadcrumb-item active">{{ review.pill.name }}</li>
        </ol>   
<div class="card mb-4">
			<div class="card-body">	

  <table class="table">
        <tbody>
        <tr>
                <th>Titre</th>
                <td>{{ review.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ review.content }}</td>
            </tr>
            {# <tr>
                <th>Interruption</th>
            </tr> #}
          
            <tr>
                <th>Status</th>
                 {% if review.status == 0 %}
                <strong>
                    <td class="text-danger"><strong>A valider</strong></td>
                </strong>
                {% endif %}
                 {% if review.status == 1 %}
                <td>Validé</td>
                {% endif %}
            </tr>

        <tr>
                <th>Auteur</th>
                <td>{{ review.user.firstname }} {{ review.user.lastname }}</td>
            </tr>

            <tr>
                <th>Pilule</th>
                <td>{{ review.pill.name }}</td>
            </tr>
           
        </tbody>
    </table>

{% if review.status == 0 %}
    <a href="{{ path('admin_pill_review_validate', {'id': review.id}) }}" class="btn btn-sm btn-outline-success"><strong>Valider</strong></a>
    <a href="{{ path('admin_pill_review_delete', {'id': review.id}) }}" class="btn btn-sm btn-outline-danger"><strong>Supprimer</strong></a>

  {% endif %}
{% if review.status == 1 %}
  <a href="{{ path('admin_pill_review_delete', {'id': review.id}) }}" class="btn btn-sm btn-outline-danger"><strong>Supprimer</strong></a>
  {% endif %}

    </div>
</div>
    <p class="mb-2">
        <a class="btn btn-dark" href="{{ path('admin_pill_review_list') }}" role="button">Retourner à la liste générale</a>
        <a class="btn btn-dark" href="{{ path('admin_pill_review_pending') }}" role="button">Retour à la liste des avis à valider</a>
    </p>

 {% endblock %}
