{% extends 'base.html.twig' %}

{% block title %}Liste des avis à valider{{ parent() }}
{% endblock %}


{% block body %}
<div class="container-fluid px-4">
		<h1 class="mt-4">Liste des avis à valider</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_home') }}">Dashboard</a>
			</li>
        </ol>   
        <div class="card mb-4">
			<div class="card-body">	 
        <table class="table table-striped">

     {% if data is empty %}

    <p>Il n'y a pas d'avis en attente de validation</p>

     {%  else %}
            
   <thead>
        <tr>
            <th scope="col">Titre de l'avis</th>
            <th scope="col">Status de l'avis</th>
            <th scope="col">Auteur de l'avis</th>
            <th scope="col">Pilule</th>
            <th scope="col">Actions</th>
            
        </tr>
    </thead>
   <tbody>
      {% for review in data %}
        
        <tr>
        
            <td>{{ review.title }}</td>
             {% if review.status == 0 %}
                <td class="text-danger"><strong>A valider</strong></td>
                {% endif %}
                 {% if review.status == 1 %}
                <td class="text-success">Validé</td>
            {% endif %}   
            <td>{{review.user.firstname }} {{review.user.lastname }} </a></td>
            <td>{{review.pill.name}}</td>
        
            
             <td class="text-right">
                       
                   <!-- Example single danger button -->
					
					<a href="{{ path('admin_pill_review_details', {id:review.id}) }}" class="btn btn btn-outline-secondary"><i class="far fa-eye"></i> Voir</a>
                       
                        <div class="btn-group">

							<a class="btn btn-outline-danger" href="{{ path('admin_pill_review_delete', {'id': review.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer ?');">
										<i class="fas fa-trash-alt"></i>
										Supprimer</a>
                           
                        </div>
                    </td>            
        </tr>
        	{% endfor %}
            {% endif %}
    </tbody>
</table>
            <ul class="pagination">
            <li>{{ knp_pagination_render(data) }}</li>
            </ul>
{% endblock %}
