{% extends 'base.html.twig' %}

{% block title %}Ajouter une pilule{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container px-4 mx-0">
		<h1 class="mt-4">Ajouter une pilule</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_home') }}">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">Ajouter une pilule</li>
		</ol>
		<div class="card mb-4">
			<div class="card-body">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

				{{ form_errors(form) }}
				<div class="row">
					<div class="col">
						<i class="fas fa-signature"></i>
						{{ form_label(form.name, null, { 'label_attr': {'class': 'bold'} }) }}
						{{ form_widget(form.name, { 'attr': {'class': 'input-style'} }) }}</div>
					<div class="col">{{ form_row(form.generation, { 'attr': {'class': 'select-style'} }) }}</div>
				</div>
				<div class="row">
					<div class="col">{{ form_row(form.description, { 'attr': {'class': 'textarea-style'} }) }}</div>
					<div class="col">{{ form_row(form.reimbursed) }}</div>
				</div>
				<div class="row">
					<div class="col">{{ form_row(form.composition, { 'attr': {'class': 'textarea-style'} }) }}</div>
					<div class="col">{{ form_row(form.generic, { 'attr': {'class': 'input-style'} }) }}</div>
				</div>
				<div class="row">
					<div class="col">{{ form_row(form.posology, { 'attr': {'class': 'input-style'} }) }}</div>
					<div class="col">{{ form_row(form.interruption) }}</div>
				</div>
				<div class="row">
					<div class="col">{{ form_row(form.type, { 'attr': {'class': 'select-style'} }) }}</div>
					<div class="col">{{ form_row(form.delay_intake, { 'attr': {'class': 'input-style'} }) }}</div>
				</div>
				<div class="row">
					<div class="col">{{ form_row(form.laboratory, { 'attr': {'class': 'input-style'} }) }}</div>
					<div class="col">{{ form_row(form.pillImg) }}</div>
				</div>
				<button type="submit" class="btn btn-success mt-4">Ajouter une pilule</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
