{% extends 'base.html.twig' %}

{% block title %}Toutes les pilules{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid px-4">
		<h1 class="mt-4">Résultat de la recherche :
			{{ searchValue }}</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_home') }}">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">Résultat de la recherche</li>
		</ol>
		<div class="card mb-4">
			<div class="card-body">
				<div class="input-group rounded">
					<form class="d-flex m" action="{{ path('admin_pill_search') }}">
						<input type="search" name="q" class="form-control rounded" placeholder="Rechercher une pilule" aria-label="Search" aria-describedby="search-addon" value="{{ searchValue }}"/>
						<span class="input-group-text border-0" id="search-addon">
							<i class="fas fa-search"></i>
						</span>
					</form>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Nom de la pilule</th>
							<th scope="col">Laboratoire</th>
							<th scope="col">Avis</th>
							<th scope="col">Menu</th>
						</tr>
					</thead>
					<tbody>
						{% for pill in pills %}
							<tr>
								<td>{{ pill.name }}</td>
								<td>{{ pill.laboratory }}</td>
								<td>
									<i class="fas fa-comment"></i>
									{{ pill.countReviews }}</td>
								<td>
									<i class="fas fa-edit"></i>
									Editer -
									<i class="fas fa-trash-alt"></i>
									Supprimer</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a class="btn btn-dark" href="{{ path('admin_pill_list') }}" role="button">Retourner à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}
